/* Enlever le soulignement pour tous les liens de la navbar */
.navbar-nav .nav-link {
  text-decoration: none;
  color: black;
}

.navbar-nav {
        list-style: none;
}

.container-fluid {
  padding-left: 3rem;
  background-color: #f9d0a3;
}

/* Espacer les éléments de la liste des pages */
.navbar-nav .nav-item {
  margin-right: 2rem;
}

/* Ajouter le soulignement uniquement pour le lien actif */
.navbar-nav .nav-link.active {
  text-decoration: underline;
}

/* menu burger caché en desktop */
.navbar-toggler {
        display: none;
      }
/* Affichage menu burger */
@media (max-width: 992px) {
        .navbar-toggler {
          display: block;
        }
}

