<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0">© 2024 Company, Inc</p>
  
        <div class="col-md-4 d-flex justify-content-center">
          <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fab fa-twitter reseaux"></i></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fab fa-instagram reseaux"></i></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fab fa-facebook reseaux"></i></a></li>
          </ul>
        </div>
  
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link px-2">Accueil</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2">Contact</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2">À Propos</a></li>
        </ul>
      </footer>