<div class="container about-container">
        <div class="row">
          <div class="col text-center">
            <h1>À propos de nous</h1>
            <p class="lead">Découvrez l'histoire et la passion derrière "Au petit village"</p>
          </div>
        </div>
        <div class="row about-section">
          <div class="col-md-6">
            <img src="../../assets/images/histoire.png" alt="Notre histoire" class="about-image">
          </div>
          <div class="col-md-6">
            <h2>Notre Histoire</h2>
            <p>"Au petit village" a été fondée en 2000 par un groupe de passionnés de la bande dessinée Astérix et Obélix. Inspirés par les aventures des célèbres Gaulois, nous avons décidé de créer des figurines de haute qualité qui capturent l'esprit et le charme des personnages de cette série emblématique.</p>
            <p>Notre mission est de ramener la nostalgie et la magie des histoires d'Astérix et Obélix dans les foyers de nos clients. Nous nous adressons principalement à une population jeune entre 30 et 55 ans, qui a grandi avec ces histoires et souhaite revivre ces moments précieux.</p>
          </div>
        </div>
        <div class="row about-section">
          <div class="col-md-6 order-md-2">
            <img src="../../assets/images/valeur.png" alt="Nos valeurs" class="about-image">
          </div>
          <div class="col-md-6 order-md-1">
            <h2>Nos Valeurs</h2>
            <p>Chez "Au petit village", nous croyons en la qualité, l'authenticité et la passion. Chaque figurine que nous produisons est soigneusement conçue et peinte à la main pour garantir un produit qui est non seulement beau, mais qui capture également l'essence des personnages bien-aimés.</p>
            <p>Nous nous engageons à fournir des produits exceptionnels et un service client de qualité. Nous voulons que chaque client se sente comme un membre de notre village et partage notre amour pour Astérix et Obélix.</p>
          </div>
        </div>
        <div class="row about-section">
          <div class="col-md-6">
            <img src="../../assets/images/equipe.png" alt="Notre équipe" class="about-image">
          </div>
          <div class="col-md-6">
            <h2>Notre Équipe</h2>
            <p>Notre équipe est composée de collectionneurs, d'artistes et de passionnés de bandes dessinées. Chacun apporte son expertise unique et son amour pour Astérix et Obélix à notre entreprise. Nous travaillons ensemble pour créer des figurines qui ravissent nos clients et honorent les personnages que nous aimons tous.</p>
            <p>Rejoignez-nous dans notre aventure et découvrez les figurines de "Au petit village" – où la nostalgie rencontre l'artisanat exceptionnel.</p>
          </div>
        </div>
      </div>