<!-- src/app/product-detail.component.html -->
<div
  class="container product-container"
  *ngIf="product$ | async as product; else noProduct"
>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 detail-product">
      <h2 class="product-name">{{ product.name }}</h2>
      <p class="product-description">{{ product.description }}</p>
      <p>Prix: {{ product.price }} €</p>
      <p *ngIf="product.inStock">En Stock</p>
      <p *ngIf="!product.inStock">Rupture de Stock</p>
      <button class="btn btn-panier">Ajouter au panier</button>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img
        [src]="product.imageUrl"
        [alt]="product.name"
        class="product-image"
      />
    </div>
  </div>
  <div>

  <button (click)="goBack()" class="btn-retour">
    <i class="fa-solid fa-arrow-left"></i>
     Retour à la liste</button>
</div>
</div>
  <ng-template #noProduct>
    <p>Produit non trouvé.</p>
  </ng-template>

