.container-accueil {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
}

.background-image-accueil {
        background-image: url('../../assets/images/image-de-fond-1.jpg');
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
justify-content: space-between;
text-align: center;
}


/* Ajuster le texte pour qu'il soit au-dessus du fond semi-transparent */
.outlined-text {
        position: relative;
        z-index: 2;
        color: #fdd90b;
        text-shadow:
          -1px -1px 0 #151217,
          1px -1px 0 #151217,
          -1px 1px 0 #151217,
          1px 1px 0 #151217;
      }

.outlined-text {
        color: #fdd90b;

        text-shadow:
        -1px -1px 0 #151217,
        1px -1px 0 #151217,
        -1px 1px 0 #151217,
        1px 1px 0 #151217;
}

main h1 {
        font-size: 5rem !important;
        letter-spacing: 0.5rem;
        padding-bottom: 5rem;
}

main p {
        font-size: 1.5rem !important;
        color: #151217;
        padding-top: 1rem;
}

/* Style de la partie produits */
.container-products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 5rem;
}

.container-products h2 {
        font-size: 3rem;
        padding-bottom: 5rem;
}

.col {
        display: flex;
        justify-content: center;
}

/* Affichage des tri et recherche */
.container-products {
        display: flex;
        flex-direction: column;
        padding: 5rem;
      }
      
      .container-products input,
      .container-products select {
        margin-bottom: 2rem; 
        width: 20rem; 
        margin-right: 2rem;
      }
      
.description {
        text-align: center;
}